*{
    text-decoration: none;
    list-style-type: none;
}
header{
    width: 100%;
}

.logo_img img{
    margin: 1.5rem 1rem;
}
.color ul li a{
    color: rgb(252, 252, 252);
}
.color ul li a:hover{
    color: rgb(214, 190, 190);
}
.slider{
    background: linear-gradient(90deg, rgba(26, 22, 22, 0), rgb(0, 0, 0));
   
}
.slider img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
/************  section about us ************/
.about h4{
    color: #990033;
}
.service{
    height: 400px;
    background-image: url(https://aksan.av.tr/Photos/PageContent/thumbs/a42e67fa.jpg);
    background-size: cover;
    position: relative;
    z-index:99;
}
.grediend{
    background: #020a20 !important;
    position: absolute;
    height: 400px;
    width: 100%;
    opacity: .7;
    z-index: -99;
}

.write span a{
    font-size: 1rem;
    padding: .3rem 1rem;
    color: rgb(170, 160, 160);
    border-radius: .1rem;
    border-bottom: 1px solid white;
    transition: 1s;
}
.write span{
    display: inline-block;
    margin-top: 1rem;
}
.write span a:hover{
    color: rgb(12, 12, 12);
    background-color: rgb(247, 240, 240);
}
/***** blogs section ******/

.card{
    border: none;
}
.p_font{
    font-size: 13px;
    color: #a1a1a1;
}
.p_font a{
    color: #a1a1a1;
    text-decoration: none;
    transition: 1s;
}
.p_font a:hover{
    color: #202020;
    text-decoration: underline;
}
.Card_color:hover{
    color: #990033!important;
    transition: 1s;
}

.line{
    line-height: 18px;
    font-family: 'Kalam', cursive;
    font-weight: 100 !important;
    color: #6d6e72;
}
#line{
    line-height: 18px;
    font-family: 'Kalam', cursive;
    font-weight: 100 !important;
    color: #6d6e72;
}
/******************************************/
/*****  foother ****/
footer{
    background-color: #020a20!important;
    font-weight: 500;
    font-size: 11px;
}
.clear{
    padding-left: 0;
}
li{
    list-style-type: none;
}
.clear a{
    color: #ffffff;
    display: inline-block;
    transition: .5s;
}
.clear a:hover{
    color: rgb(138, 134, 134)!important ;
}

.pad{
    display: inline;
    padding-bottom: 3px;
}
.clear li{
    margin-top: .5rem;
}
.myC::placeholder {
    color: rgb(75, 65, 65);
}
.hvr:hover{
    transition: .5s;
    background-color: #ffffff;
    color: black!important;
}
.social i:hover{
    color: #9e9b9b!important;
}
/**************************/
/****************************/
/********* hakkimizda *******/
.imgH{
    background-image: url(https://aksan.av.tr/Photos/PageContent/thumbs/b6474c4f.JPG);
    height: 500px;
    background-size: cover;
    position: relative;
    z-index:99;
}
.hg{
    height: 500px;
}
.history li a{
    color: #6d6e72;
}
.history li a:hover{
    color: #990033!important;
}




/**************************************/
/***************************************/
/******* general css**********/
a{
    text-decoration: none;
}
.clr{
    color: #990033!important;
    font-size: 18px;
    font-weight: bold;
}
.mgauto{
    margin: auto;
}
.w-60{
    width: 60%;
}
.myContainer{
    width: 90% !important;
    margin: auto;
}
.myfont{
    font-size: 19px;
}
.fotn_two{
    font-size: 17px;
}
.fs{
    font-size: 14px;
}
span{
    padding: 0!important;
    margin: 0;
}
.bold {
    font-weight: bold;
}















 @media only screen and (max-width: 768px) {
    .footer_parent{
        text-align: center;
        width: 95%!important;
    }
    footer *{
        padding: 0;
        margin: 0;
    }
    .d-768{
        display: none!important;
    }
   
  }
@media only screen and (max-width: 750px) {
    .about {
      width: 85%!important;

    }
    .write {
        width: 85%!important;
  
      }
      .service ,.grediend{
        max-height:300px ;
      }
  }
@media only screen and (max-width: 500px) {
    .blog_h4 h4{
        margin-top: 1.5rem;
        margin-bottom: 0px!important;
    }
  }