header{
    width: 100%;

}
.logo_img img{
    margin: 1.5rem 1rem;
}
.color ul li a{
    color: rgb(252, 252, 252);
}
.color ul li a:hover{
    color: rgb(214, 190, 190);
}
.slider{
    background: linear-gradient(90deg, rgba(26, 22, 22, 0), rgb(0, 0, 0));
   
}
.slider img{
    width: 100%;
    height: auto;
    overflow: hidden;
}































@media only screen and (max-width: 700px) {
    denem {
      width: 700;

    }
  }